__pycache__/
*.py[cod]
*$py.class

.env
*.env

**/migrations/*.pyc
**/migrations/__pycache__/

# **/migrations/[!__init__]*.py


db.sqlite3

media/
uploads/


.vscode/
.idea/

venv/
env/
ENV/
*.egg-info/


*.log

.DS_Store
Thumbs.db